<h1>All artists</h1>


<br>
<%= form_tag artists_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search by Name / Genre / Location"
  %>
<% end %>
<br>

<div id="artists">
<ul>
<% @artists.each do | artist | %>
<li><%= link_to artist.name, artist_path(artist) %> | <%= artist.genre %> | <%= artist.price %> euros | <%= artist.location %> </li>
<% end %>
</ul>
</div>

















<%= link_to 'All Artists', artists_path %> |
<%= link_to 'Home', root_path %>



