<h1><%= @artist.name %></h1>
<p>Location: <%= @artist.location %></p>
<p>Genre: <%= @artist.genre %></p>
<p>Price: <%= @artist.price %> euros</p>
<p>Description: <%= @artist.description %></p>


<div class="wrapper">
  <div class="box artist_pict">PICTURE</div>
  <div class="box artist_info">
    <div class="box artist_name">NAME ARTIST</div>
    <div class="box artist_genre"> MUSIC GENRE</div>
    <div class="box artist_location">LOCATION</div>
    <div class="box artist_price">PRICE</div>
  </div>
  <div class="box artist_agenda">agenda</div>
  <div class="box artist_description">description</div>
  <div class="box artist_music_link">Links</div>
  <div class="box artist_ranting">
    <div class="box artist_stars">stars</div>
    <div class="box artist_reviews">reviews</div>
  </div>
</div>


<%= link_to 'Back', root_path %> |
<%= link_to 'Create Event', new_artist_event_path(@artist) %>
<%= link_to 'Update', edit_artist_path(@artist) %>


<div class="wrapper">
  <div class="box artist_pict">A</div>
  <div class="box artist_info">
    <div class="box artist_name"> <%= @artist.name %></div>
    <div class="box artist_genre"> <%= @artist.genre %></div>
    <div class="box artist_location"> <%= @artist.location %></div>
    <div class="box artist_price"> <%= @artist.price %> euros</div>
  </div>
  <div class="box artist_agenda">C</div>
  <div class="box artist_description"> <%= @artist.description %> </div>
  <div class="box artist_music_link">E</div>
  <div class="box artist_ranting">
    <div class="box artist_stars"></div>
    <div class="box artist_reviews"></div>
  </div>

