<h1> Create Event </h1>

<%= simple_form_for [@artist, @event] do |f| %>
<%= f.input :name%>
<%= f.input :type %>
<%= f.input :location %>
<%= f.input :date %>
<%= f.input :description %>
<%= f.button :submit %>
<% end %>
