<div class="col-xs-6 col-xs-offset-3">
  <h1> Event: <%= @event.name.capitalize %> </h1>

  <ul>
  <li> Description: <%= @event.description %> </li>
  <li> Location: <%= @event.location %> </li>
  <li> Date: <%= @event.date %> </li>
  <li> Type: <%= @event.event_type %> </li>
  <li> Status: Pending </li>
  </ul>

  <%= link_to "Delete", artist_event_path(@artist, @event), method: :delete, data: {confirm: 'Are you sure ?'}, class: "btn btn-primary" %>

 <% if @event.artist.user == current_user %>

    <%= link_to "Confirm", event_confirm_path(@event), method: :patch, class: "btn btn-primary"%>
    <%= link_to "Cancel", event_cancel_path(@event), method: :patch, class: "btn btn-primary"%>
  <% end %>
  <%# raise %>
</div>
