<div class="container">
  <div class="wrapper">
    <div class="box user_pict">
      <img src='https://kitt.lewagon.com/placeholder/users/alex-felix' class="avatar-large"/>
      <img src="" alt="">

      <div class="box user_bookings">
        <div class="box user_ranting list-inline">

          <ul><div class="btn-primary btn_review">Artist profile</div></ul>

        </div>
      </div>




    </div>

    <div class="box user_info">
      <div class="box user_name">
        <span class="left_info_title"> Username: </span>
        <span class="user_details"> <%= @user.email %> </span>
      </div>

      <div class="box user_location">
        <span class="left_info_title"> Location: </span>
        <span class="user_details"> <%= @user.location %> </span>
      </div>

      <div class="box event_description">
        <span class="left_info_title"> Event: </span>
       <span class="user_details">
         <%#= @event_description %> </span>
        <% @events.each do |event| %>
        <% @artist = event.artist %>
        <%= event.description %>
          <% if event.status == "confirmed" %>
            <%= link_to "Review", new_artist_event_review_path(@artist, event), class: "btn_francois btn-primary"%>
          <% end %>
        <% end %>

      </div>
    </div>

    <div class="box user_agenda">
      <%# @events.each do |event| %>
        <%#= event.date %>
      <%# end %>

      <figure>
        <header>
         <script>
            var day = new Date().getDay();
              week = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');

            document.write(week[day]);
          </script>
        </header>
        <section>
          <script>
            document.write(new Date().getDate());
          </script>
        </section>
      </figure>
    </div>


    <!-- <div class="box user_bookings">
      WILL THIS STAY HERE?
      <div class="box user_ranting list-inline">

        <ul><div class="btn-primary btn_review">Review</div></ul>
        <ul><div class="btn-primary btn_rating">Rating</div></ul>

      </div>
    </div> -->
  </div>
    <div class="box artist_card">

      <span class="left_info_title">
        Your artist for you event

      </span>
        <span class="user_details">
        <div class="box artist_pict_user">
        <%= link_to artist_path(@artist) do %>
        <%= @artist.photo.url.nil? ? image_tag("https://images.unsplash.com/photo-1510915361894-db8b60106cb1?ixlib=rb-0.3.5&s=c3ca870aabdda474d2179770e70d356e&auto=format&fit=crop&w=1950&q=80", class: "avatar") : cl_image_tag(@artist.photo, class: "avatar") %>
      </div>
        <% end %>
    </div>
        </span>


  </div>
    <div class="container">
  <%= link_to 'Edit your profile ', edit_user_registration_path, class: "edit_user btn btn-primary" %>
    </div>
  </div>
</div>

