
<div class="wrapper">
  <div class="box user_pict">
    <%= simple_form_for(@user) do |f| %>
      <div class="form-inputs">
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
  <div class="box user_info">
    <div class="box user_name"> <%= @user.email %> </div>
    <div class="box artist_location"> <%= @user.location %> </div>
  </div>
  <div class="box user_agenda">
    <% @events.each do |event| %>
      <%= event.date %>
    <% end %>

  </div>
  <div class="box user_bookings">
    <% @events.each do |event| %>
      <%= event.description %>
    <% end %>

    <div class="box event_description"></div>
    <div class="box artist_card"></div>
  </div>
  <div class="box user_ranting">Links
    <div class="box btn_review"></div>
    <div class="box btn_rating"></div>
  </div>
</div>
