<div class="container">
  <div class="wrapper">
    <div class="box user_pict">
      <img src='https://kitt.lewagon.com/placeholder/users/alex-felix' class="avatar-large"/>
      <img src="" alt="">

      <div class="box user_bookings">
        <div class="box user_ranting list-inline">

          <ul><div class="btn-primary btn_review">Review</div></ul>
          <ul><div class="btn-primary btn_rating">Rating</div></ul>

        </div>
      </div>




    </div>

    <div class="box user_info">
      <div class="box user_name">
        <span class="left_info_title"> Username: </span>
        <span class="user_details"> <%= @user.email %> </span>
      </div>

      <div class="box user_location">
        <span class="left_info_title"> Location: </span>
        <span class="user_details"> <%= @user.location %> </span>
      </div>

      <div class="box event_description">
        <span class="left_info_title"> Event: </span>
        <span class="user_details"> <%= @event_description %> </span>
        <% @events.each do |event| %>
        <%= event.description %>
        <% end %>
      </div>
    </div>

    <div class="box user_agenda"> AGENDA
      <% @events.each do |event| %>
        <%= event.date %>
      <% end %>
    </div>


    <div class="box user_bookings">
      <div class="box user_ranting list-inline">

        <ul><div class="btn-primary btn_review">Review</div></ul>
        <ul><div class="btn-primary btn_rating">Rating</div></ul>

      </div>
    </div>
  </div>
    <div class="box artist_card"> ARTIST CARD




   <div class="product">
  <div class='product-upvote'>
    <div class="product-arrow"></div>
    <div class='product-count'>95</div>
  </div>
  <img src="kudoz.jpg" alt="kudoz" class="product-image hidden-xs">
  <div class='product-body'>
    <h3>@artist.name</h3>
    <p>Your artist for you event</p>
  </div>
</div>









    </div>

  <%= link_to 'Edit your profile ', edit_user_registration_path, class: "edit_user btn btn-primary" %>
  </div>

</div>

